<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VMUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VMUpdater.Properties.Settings>
            <setting name="vmxPath" serializeAs="String">
                <value />
            </setting>
            <setting name="vmUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="vmPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="scheduleDay" serializeAs="String">
                <value />
            </setting>
            <setting name="scheduleTime" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUpdateRan" serializeAs="String">
                <value />
            </setting>
        </VMUpdater.Properties.Settings>
    </userSettings>
</configuration>